## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type = application_df['APPLICATION_TYPE'].value_counts()
app_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_cutoff = 527
application_types_to_replace = app_type[app_type <= app_cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_types = application_df['CLASSIFICATION'].value_counts()
class_types

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_types_cleaned = class_types[class_types >1]
class_types_cleaned

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_cutoff = 1882
classifications_to_replace = class_types[class_types <= class_cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [12]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_data = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 
                    'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 
                    'SPECIAL_CONSIDERATIONS']
cleaned_df = pd.get_dummies(application_df, columns=categorical_data)

cleaned_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [17]:
# Split our preprocessed data into our features and target arrays
y = cleaned_df['IS_SUCCESSFUL']
X = cleaned_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=43))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_9 (Dense)                 │ (None, 80)             │         3,520 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 5,981 (23.36 KB)

 Trainable params: 5,981 (23.36 KB)

 Non-trainable params: 0 (0.00 B)

In [26]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [27]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 276us/step - accuracy: 0.6981 - loss: 0.5904
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 267us/step - accuracy: 0.7293 - loss: 0.5547
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 267us/step - accuracy: 0.7376 - loss: 0.5482
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.7330 - loss: 0.5456
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.7301 - loss: 0.5485
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.7305 - loss: 0.5481
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7397 - loss: 0.5387
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 263us/step - accuracy: 0.7338 - loss: 0.5442
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 281us/step - accuracy: 0.7315 - loss: 0.5487
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7282 - loss: 0.5462
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 263us/step - accuracy: 0.7333 - loss: 0.5438
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.7343 - loss: 0.5443
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7345 - loss: 0.5471
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7288 - loss: 0.5480
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7388 - loss: 0.5403
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 270us/step - accuracy: 0.7376 - loss: 0.5395
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 263us/step - accuracy: 0.7341 - loss: 0.5411
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 263us/step - accuracy: 0.7348 - loss: 0.5415
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 268us/step - accuracy: 0.7349 - loss: 0.5427
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 266us/step - accuracy: 0.7340 - loss: 0.5437
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7356 - loss: 0.5428
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.7380 - loss: 0.5368
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 277us/step - accuracy: 0.7353 - loss: 0.5431
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 263us/step - accuracy: 0.7348 - loss: 0.5429
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 268us/step - accuracy: 0.7368 - loss: 0.5404
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 266us/step - accuracy: 0.7377 - loss: 0.5352
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 267us/step - accuracy: 0.7396 - loss: 0.5351
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 266us/step - accuracy: 0.7348 - loss: 0.5417
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.7406 - loss: 0.5357
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7367 - loss: 0.5373
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7371 - loss: 0.5353
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7382 - loss: 0.5380
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.7372 - loss: 0.5392
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7368 - loss: 0.5402
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.7421 - loss: 0.5341
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7427 - loss: 0.5326
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 263us/step - accuracy: 0.7373 - loss: 0.5380
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 263us/step - accuracy: 0.7401 - loss: 0.5326
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7318 - loss: 0.5420
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.7370 - loss: 0.5377
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7431 - loss: 0.5320
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 282us/step - accuracy: 0.7395 - loss: 0.5366
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7395 - loss: 0.5354
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 266us/step - accuracy: 0.7388 - loss: 0.5365
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7400 - loss: 0.5348
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 266us/step - accuracy: 0.7387 - loss: 0.5358
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 293us/step - accuracy: 0.7405 - loss: 0.5358
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7314 - loss: 0.5432
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 266us/step - accuracy: 0.7395 - loss: 0.5366
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 267us/step - accuracy: 0.7414 - loss: 0.5348
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 283us/step - accuracy: 0.7429 - loss: 0.5331
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7410 - loss: 0.5339
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7438 - loss: 0.5311
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 266us/step - accuracy: 0.7380 - loss: 0.5382
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.7428 - loss: 0.5321
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 273us/step - accuracy: 0.7400 - loss: 0.5361
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7406 - loss: 0.5350
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 263us/step - accuracy: 0.7359 - loss: 0.5416
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7395 - loss: 0.5331
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 282us/step - accuracy: 0.7395 - loss: 0.5357
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 263us/step - accuracy: 0.7384 - loss: 0.5358
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 263us/step - accuracy: 0.7413 - loss: 0.5321
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 266us/step - accuracy: 0.7389 - loss: 0.5352
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 290us/step - accuracy: 0.7462 - loss: 0.5310
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 267us/step - accuracy: 0.7391 - loss: 0.5363
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7419 - loss: 0.5307
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 264us/step - accuracy: 0.7373 - loss: 0.5361
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 273us/step - accuracy: 0.7382 - loss: 0.5375
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 269us/step - accuracy: 0.7378 - loss: 0.5341
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 265us/step - accuracy: 0.7417 - loss: 0.5331
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 288us/step - accuracy: 0.7420 - loss: 0.5320
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 267us/step - accuracy: 0.7425 - loss: 0.5302
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 269us/step - accuracy: 0.7387 - loss: 0.5360
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 284us/step - accuracy: 0.7382 - loss: 0.5354
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 270us/step - accuracy: 0.7388 - loss: 0.5368
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 267us/step - accuracy: 0.7439 - loss: 0.5348
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 283us/step - accuracy: 0.7368 - loss: 0.5388
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 272us/step - accuracy: 0.7352 - loss: 0.5385
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 268us/step - accuracy: 0.7401 - loss: 0.5338
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 287us/step - accuracy: 0.7406 - loss: 0.5320
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 271us/step - accuracy: 0.7434 - loss: 0.5308
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 271us/step - accuracy: 0.7383 - loss: 0.5364
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 288us/step - accuracy: 0.7435 - loss: 0.5322
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 270us/step - accuracy: 0.7372 - loss: 0.5369
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 269us/step - accuracy: 0.7413 - loss: 0.5329
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 287us/step - accuracy: 0.7376 - loss: 0.5349
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 268us/step - accuracy: 0.7425 - loss: 0.5314
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 270us/step - accuracy: 0.7364 - loss: 0.5363
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 290us/step - accuracy: 0.7422 - loss: 0.5330
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 269us/step - accuracy: 0.7423 - loss: 0.5315
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 269us/step - accuracy: 0.7429 - loss: 0.5314
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 291us/step - accuracy: 0.7391 - loss: 0.5352
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 270us/step - accuracy: 0.7388 - loss: 0.5349
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 271us/step - accuracy: 0.7428 - loss: 0.5309
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 290us/step - accuracy: 0.7437 - loss: 0.5305
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 268us/step - accuracy: 0.7396 - loss: 0.5342
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 269us/step - accuracy: 0.7387 - loss: 0.5354
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 281us/step - accuracy: 0.7447 - loss: 0.5303
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 270us/step - accuracy: 0.7360 - loss: 0.5371
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 287us/step - accuracy: 0.7425 - loss: 0.5303

In [29]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 415us/step - accuracy: 0.7300 - loss: 0.5629
Loss: 0.5629096031188965, Accuracy: 0.7300291657447815

In [30]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.