## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense, LeakyReLU

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type = application_df['APPLICATION_TYPE'].value_counts()
app_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_cutoff = 527
application_types_to_replace = app_type[app_type <= app_cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_types = application_df['CLASSIFICATION'].value_counts()
class_types

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_types_cleaned = class_types[class_types >1]
class_types_cleaned

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_cutoff = 1882
classifications_to_replace = class_types[class_types <= class_cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_data = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 
                    'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 
                    'SPECIAL_CONSIDERATIONS']
cleaned_df = pd.get_dummies(application_df, columns=categorical_data)

cleaned_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [11]:
# Split our preprocessed data into our features and target arrays
y = cleaned_df['IS_SUCCESSFUL']
X = cleaned_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(Dense(units=200, input_dim=43))
nn_model.add(LeakyReLU(alpha=0.01))

# Second hidden layer
nn_model.add(Dense(units=100))
nn_model.add(LeakyReLU(alpha=0.01))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

/opt/anaconda3/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
/opt/anaconda3/lib/python3.11/site-packages/keras/src/layers/activations/leaky_relu.py:41: UserWarning: Argument `alpha` is deprecated. Use `negative_slope` instead.
  warnings.warn(

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 200)            │         8,800 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ leaky_re_lu (LeakyReLU)         │ (None, 200)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 100)            │        20,100 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ leaky_re_lu_1 (LeakyReLU)       │ (None, 100)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │           101 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 29,001 (113.29 KB)

 Trainable params: 29,001 (113.29 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 420us/step - accuracy: 0.7083 - loss: 0.5857
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 413us/step - accuracy: 0.7314 - loss: 0.5535
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 440us/step - accuracy: 0.7300 - loss: 0.5534
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 427us/step - accuracy: 0.7333 - loss: 0.5457
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 430us/step - accuracy: 0.7369 - loss: 0.5485
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 463us/step - accuracy: 0.7315 - loss: 0.5480
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 409us/step - accuracy: 0.7319 - loss: 0.5474
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 425us/step - accuracy: 0.7329 - loss: 0.5482
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 427us/step - accuracy: 0.7323 - loss: 0.5454
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 425us/step - accuracy: 0.7352 - loss: 0.5437
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 408us/step - accuracy: 0.7377 - loss: 0.5415
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 450us/step - accuracy: 0.7330 - loss: 0.5446
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 427us/step - accuracy: 0.7319 - loss: 0.5479
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 406us/step - accuracy: 0.7395 - loss: 0.5388
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 430us/step - accuracy: 0.7383 - loss: 0.5416
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 446us/step - accuracy: 0.7355 - loss: 0.5421
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 408us/step - accuracy: 0.7386 - loss: 0.5373
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 433us/step - accuracy: 0.7362 - loss: 0.5406
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 405us/step - accuracy: 0.7398 - loss: 0.5347
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 404us/step - accuracy: 0.7368 - loss: 0.5415
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 426us/step - accuracy: 0.7357 - loss: 0.5401
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 403us/step - accuracy: 0.7308 - loss: 0.5488
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 408us/step - accuracy: 0.7358 - loss: 0.5428
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 435us/step - accuracy: 0.7327 - loss: 0.5427
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 432us/step - accuracy: 0.7407 - loss: 0.5370
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step - accuracy: 0.7416 - loss: 0.5379
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - accuracy: 0.7365 - loss: 0.5378
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 406us/step - accuracy: 0.7376 - loss: 0.5375
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 405us/step - accuracy: 0.7365 - loss: 0.5407
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 447us/step - accuracy: 0.7384 - loss: 0.5377
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 408us/step - accuracy: 0.7392 - loss: 0.5346
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 420us/step - accuracy: 0.7338 - loss: 0.5434
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 417us/step - accuracy: 0.7367 - loss: 0.5384
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 423us/step - accuracy: 0.7422 - loss: 0.5318
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 403us/step - accuracy: 0.7385 - loss: 0.5384
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 412us/step - accuracy: 0.7334 - loss: 0.5410
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 405us/step - accuracy: 0.7433 - loss: 0.5325
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 432us/step - accuracy: 0.7410 - loss: 0.5307
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 414us/step - accuracy: 0.7375 - loss: 0.5381
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 407us/step - accuracy: 0.7330 - loss: 0.5413
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 405us/step - accuracy: 0.7388 - loss: 0.5364
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 435us/step - accuracy: 0.7369 - loss: 0.5394
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 401us/step - accuracy: 0.7384 - loss: 0.5355
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 412us/step - accuracy: 0.7418 - loss: 0.5313
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 432us/step - accuracy: 0.7440 - loss: 0.5310
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 412us/step - accuracy: 0.7362 - loss: 0.5375
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 415us/step - accuracy: 0.7427 - loss: 0.5330
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 434us/step - accuracy: 0.7393 - loss: 0.5369
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 413us/step - accuracy: 0.7394 - loss: 0.5355
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 424us/step - accuracy: 0.7350 - loss: 0.5384
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 461us/step - accuracy: 0.7372 - loss: 0.5377
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 419us/step - accuracy: 0.7434 - loss: 0.5313
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 404us/step - accuracy: 0.7375 - loss: 0.5377
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 433us/step - accuracy: 0.7401 - loss: 0.5335
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 404us/step - accuracy: 0.7368 - loss: 0.5355
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 419us/step - accuracy: 0.7389 - loss: 0.5346
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 420us/step - accuracy: 0.7354 - loss: 0.5385
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 407us/step - accuracy: 0.7411 - loss: 0.5325
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 429us/step - accuracy: 0.7373 - loss: 0.5366
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 405us/step - accuracy: 0.7420 - loss: 0.5313
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 418us/step - accuracy: 0.7398 - loss: 0.5349
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 404us/step - accuracy: 0.7348 - loss: 0.5361
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 408us/step - accuracy: 0.7439 - loss: 0.5320
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 418us/step - accuracy: 0.7419 - loss: 0.5292
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 404us/step - accuracy: 0.7391 - loss: 0.5340
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 426us/step - accuracy: 0.7387 - loss: 0.5353
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 401us/step - accuracy: 0.7409 - loss: 0.5303
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 424us/step - accuracy: 0.7420 - loss: 0.5312
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 404us/step - accuracy: 0.7361 - loss: 0.5388
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 416us/step - accuracy: 0.7341 - loss: 0.5404
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 606us/step - accuracy: 0.7368 - loss: 0.5363
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 437us/step - accuracy: 0.7428 - loss: 0.5318
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 416us/step - accuracy: 0.7375 - loss: 0.5395
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 405us/step - accuracy: 0.7428 - loss: 0.5320
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 415us/step - accuracy: 0.7439 - loss: 0.5304
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 416us/step - accuracy: 0.7378 - loss: 0.5348
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 424us/step - accuracy: 0.7403 - loss: 0.5354
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 405us/step - accuracy: 0.7449 - loss: 0.5285
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 442us/step - accuracy: 0.7437 - loss: 0.5316
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 407us/step - accuracy: 0.7370 - loss: 0.5370
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 445us/step - accuracy: 0.7405 - loss: 0.5325
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 427us/step - accuracy: 0.7394 - loss: 0.5357
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 405us/step - accuracy: 0.7429 - loss: 0.5298
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 444us/step - accuracy: 0.7421 - loss: 0.5318
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 416us/step - accuracy: 0.7412 - loss: 0.5304
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 424us/step - accuracy: 0.7399 - loss: 0.5327
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 404us/step - accuracy: 0.7397 - loss: 0.5344
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 424us/step - accuracy: 0.7445 - loss: 0.5276
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 423us/step - accuracy: 0.7405 - loss: 0.5332
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 407us/step - accuracy: 0.7438 - loss: 0.5298
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 427us/step - accuracy: 0.7439 - loss: 0.5302
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 402us/step - accuracy: 0.7454 - loss: 0.5252
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 423us/step - accuracy: 0.7398 - loss: 0.5292
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 433us/step - accuracy: 0.7428 - loss: 0.5313
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 418us/step - accuracy: 0.7422 - loss: 0.5299
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 420us/step - accuracy: 0.7421 - loss: 0.5301
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 454us/step - accuracy: 0.7393 - loss: 0.5356
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 413us/step - accuracy: 0.7423 - loss: 0.5312
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 426us/step - accuracy: 0.7426 - loss: 0.5313
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 439us/step - accuracy: 0.7407 - loss: 0.5320

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 444us/step - accuracy: 0.7298 - loss: 0.5687
Loss: 0.5686694383621216, Accuracy: 0.7297959327697754

In [17]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization3.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.